body,
html {
	height: 100%;
	width: 100%;
	font-family: 'Fredoka One', cursive;
	background: url(openbook.jpg) no-repeat center center fixed; 
	background-size: cover;
}
h1 {
	color: rgb(204, 0, 0);
}
h5 {
	font-family: 'Fredoka One', cursive;
	color: rgb(255, 87, 51);
}
hr {
	border-color: rgb(0, 0, 51);
	border-width: 1px;
	max-width: 400px;
}
.btn {
	font-family: 'Roboto', sans-serif;
	border-radius: 10px;
	font-weight: 300;
	}
.btn-primary {
	background-color: rgb(204, 0, 0);
	border-color: rgb(204, 0, 0);
}
.btn-primary:hover {
	background-color: rgb(0, 0, 51);
	border-color: rgb(0, 0, 51);
	border-width: 4px;
}